@import "/src/styles/varss";

.wrapper{
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins' !important;

    .card {
        margin-top: 20px;
        padding: 20px;
        box-shadow: $shadows;
        border-radius: 5px;

        .crypto {
            span {
                font-size: 20px;
            }
        }

        .airport {
            margin: 20px 0;

            .title {
                font-size: 20px;
            }
        }
    }
}

mat-spinner {
    margin: 250px auto;
}