.wrapper {
    padding: 20px;

    .search-bar {
        display: flex;
        justify-content: center;
        
        .mat-form-field {
            width: 50%;
            border-radius: 20px;

        }
    }

    .coins {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 20px 0;

        .coin {
            width: 100px;
            padding: 10px;
            text-align: center;
            .image {
                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    .data-table {
        .headbar {
            display: flex;
            justify-content: space-between;

            .filters {
                display: flex;

                .sort-by {
                    line-height: 1.8;
                }

                .filter-btn {
                    cursor: pointer;

                    span {
                        vertical-align: super;
                    }
                }

                .selected {
                    span {
                        font-weight: 500;
                    }
                }
            }
        }
        .row {
            display: flex;

            .price {
                width: 180px;
            }
            .date {
                width: 240px;
                margin-left: 10px;
            }
        }
    }
}