<div class="wrapper" *ngIf="!loadPage;else showSpinner">
  <app-page-title [pageTitle]="'Crypto Search'"></app-page-title>
  <div class="search-bar">
    <mat-form-field appearance="outline">
      <input matInput type="text" [formControl]="searchControl" (input)="onSearchChange($event)" placeholder="Search">
    </mat-form-field>
  </div>
  <div class="coins">
    <div class="coin" *ngFor="let coin of filteredCoins">
      <div class="image" (click)="getCoinInfo(coin)">
        <img src="{{coin.iconUrl}}" alt="">
      </div>
      <div class="name">
        <span>{{coin.name}}</span>
      </div>
    </div>
  </div>
  <app-navigation [pageNo]="2"></app-navigation>
  <div class="data-table">
    <div class="headbar">
      <div class="title">
        <h1>Price History in the last 24hours for: {{selectedCoin?.name}}</h1>
      </div>
    </div>
    <div *ngIf="!loadHistory;else showSpinner">
      <div class="row table-header">
        <div class="column" (click)="sortBy('price')" [ngClass]="{'selected': selectedFilter ==  'price'}">
          <span>Price</span>
          <mat-icon>arrow_downward</mat-icon>
        </div>
        <div class="column" (click)="sortBy('date')" [ngClass]="{'selected': selectedFilter ==  'date'}">
          <span>Date</span>
          <mat-icon>arrow_upward</mat-icon>
        </div>
      </div>
      <div class="row" *ngFor="let price of coinPriceHistory">
        <div class="column">{{price.price}}</div>
        <div class="column">{{price.timestamp * 1000 | date:'medium'}}</div>
      </div>
    </div>
  </div>
</div>

<ng-template #showSpinner>
  <mat-spinner [diameter]="60"></mat-spinner>
</ng-template>