@import "/src/styles/varss";

.wrapper {
    padding: 20px;
    font-family: 'Poppins';

    .search-bar {
        display: flex;
        justify-content: center;

        .mat-form-field {
            width: 50%;
            border-radius: 20px;
        }
    }

    .coins {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 20px 0;

        .coin {
            width: 100px;
            padding: 10px;
            text-align: center;
            .image {
                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    .data-table {
        padding: 25px;
        width: 50%;
        margin: 25px auto;
        border-radius: 10px;
        box-shadow: $shadows;

        .headbar {
            display: flex;
            justify-content: center;
        }

        .row {
            display: table-row;

            &.table-header {
                span {
                    vertical-align: super;
                    margin-right: 5px;
                }

                .column {
                    cursor: pointer;
                }
            }

            .selected {
                mat-icon {
                    font-weight: 600;
                }

                span {
                    font-weight: 500;
                }
            }
        }

        .row:nth-child(even) {
            background-color: whitesmoke;
        }

        .column {
            display: table-cell;
            font-size: 17px;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 17px;
            padding: 10px;
            text-align: left;
            vertical-align: middle;

            .selected {
                mat-icon {
                    font-weight: 600;
                }

                span {
                    font-weight: 500;
                }
            }
        }
    }
}

mat-spinner {
    margin: 250px auto;
}
