<div class="wrapp" *ngIf="showSpinner;else loadPage">
  <div class="card">
    <div class="title">
      <h1>GO TO</h1>
    </div>
    <div class="pages">
      <div class="page">
        <button (click)="goToAirportMap()">Airport Map</button>
      </div>
      <div class="page">
        <button (click)="goToCryptoSearch()">Crypto Search</button>
      </div>
      <div class="page">
        <button (click)="goToSummary()">Summary</button>
      </div>
    </div>
  </div>
</div>

<ng-template #loadPage>
  <mat-spinner diameter="60"></mat-spinner>
</ng-template>