@import "/src/styles/varss";

.wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-family: 'Poppins';

    .right {
        padding: 20px;
        box-shadow: $shadows;

        .radius {
            h1 {
                font-family: 'Poppins';
            }

            button {
                background-color: white;
                margin-left: 40px;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid #c1b0b0;
            }

            button:hover {
                background-color: #464646;
                border: none;
                color: white;
            }
        }
    }
}

mat-spinner {
    margin: 250px auto;
}
