<div class="wrapper" *ngIf="loadPage;else loadPage">
    <div class="left">
        <google-map (mapClick)="setSearchPosition($event)" [options]="options" [width]="800">
            <map-marker [clickable]="true" [position]="markerPosition" [options]="markerOptions"></map-marker>
            <map-marker *ngFor="let markerPosition of airportsMarkerPositions" [position]="markerPosition"></map-marker>
        </google-map>
    </div>
    <div class="right" *ngIf="loadAirports;else loadAirports">
        <div class="radius">
            <h1>Radius</h1>
            <mat-form-field appearance="outline">
                <input matInput type="number" [formControl]="radiusControl" min="0">
            </mat-form-field>
            <button (click)="searchAirports()">Search</button>
        </div>
        <div *ngIf="noAirportsFound">
            <span>No airports found</span>
        </div>
        <app-airports-table [airports]="airports"></app-airports-table>
    </div>
    <ng-template #loadAirports>
        <mat-spinner [diameter]="55"></mat-spinner>
    </ng-template>
</div>

<ng-template #loadPage>
    <mat-spinner [diameter]="55"></mat-spinner>
</ng-template>

<app-navigation [pageNo]="1"></app-navigation>